{#
/**
 * @file
 * Template for liste_actus view fields - Block display
 * Matches Drupal 7 structure with proper field wrappers
 */
#}

{% for field_name, field in fields %}
  {# Title field with span wrapper #}
  {% if field_name == 'title' %}
    <div class="views-field views-field-{{ field_name }}">
      <span class="field-content">
        {{- field.content -}}
      </span>
    </div>
  
  {# Body field with div wrapper - using body-1 class for D7 compatibility #}
  {% elseif field_name == 'body' %}
    <div class="views-field views-field-body-1">
      <div class="field-content">
        {{- field.content -}}
      </div>
    </div>
  
  {# Read more link with lien-savoir-plus class #}
  {% elseif field_name == 'view_node' %}
    <div class="views-field views-field-{{ field_name }}">
      <span class="field-content lien-savoir-plus">
        {% if row._entity %}
          <a href="{{ path('entity.node.canonical', {'node': row._entity.id()}) }}">Lire la suite</a>
        {% else %}
          {{- field.content -}}
        {% endif %}
      </span>
    </div>
  
  {# Default field wrapper #}
  {% else %}
    <div class="views-field views-field-{{ field_name }}">
      <div class="field-content">
        {{- field.content -}}
      </div>
    </div>
  {% endif %}
{% endfor %}
